@import url('https://fonts.googleapis.com/css2?family=Delius&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:'Delius', Courier, monospace;
    padding: 50px;
}
hr {
    border: 1px black solid;
    width: 500px;
    margin-left: 0;
    margin-top: 0px;
}
section {
    margin-right: 30px;
}
p .highlight {
    color: rgb(6, 173, 6);
}
span {
    color: rgb(69, 126, 211);
}
ul {
    padding-left: 20px;
}