@import url('https://fonts.googleapis.com/css2?family=Delius&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:'Delius', Courier, monospace;
}
hr {
    border: 2px black solid;
}
p {
    color: rgb(6, 173, 6);
}
span {
    color: rgb(69, 126, 211);
}
